
@model MoviesAPI.Models.MovieModel

@{
    ViewBag.Title = "Dotnetflix - Add Listing";
}

<div class="form-group">
    <form method="POST" action="ADDMovie">
        Title: <input name="MovieName" type="text" /><br />
        Age Rating: <input name="AgeRating" type="text" /><br />
        Price (£): <input name="Price" type="number" step="any" min="0" /><br />
        Release Date: <input name="ReleaseDate" type="date" /><br />
        Genre: <input name="Genre" type="text" /><br />
        <input type="submit" for="submit" />
    </form>
 </div>
