@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}

    <h1>HOME</h1>

<p>Placeholder for Kerry's fun designs and css skills </p>