@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dotnetflix - Home";
}

<h3 class="text-light">Welcome to Dotnetflix!</h3>
<p>Click one of the links to <b>search</b> by movie ID, <b>view</b> all listings,<br/>
    <b>add</b> a new movie listing or <b>delete</b> an existing movie listing.</p>

