

@{
    ViewData["Title"] = "Dotnetflix - Delete Listing";
}

<form method="DELETE" action="REMOVEMovie">
    Movie ID: <input name="MovieID" type="number" min="1" max="9999" required placeholder="e.g 7"/>
    <input type="submit" for="submit" />
</form>