@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Delete Movie";
}

<h1> REMOVEMovie</h1>

<p>Remove movie by the ID: </p>
<form >
    <input name="MovieID" type="number" />
    <input type="submit" for="submit" />
</form>