

@{
    ViewData["Title"] = "Dotnetflix - Delete Listing";
}

<form method="DELETE" action="REMOVEMovie">
    Movie ID: <input name="MovieID" type="number" />
    <input type="submit" for="submit" />
</form>